<div class="card">
    <h5>Inline</h5>
    <div class="formgroup-inline">
        <div class="field">
            <label htmlfor="firstname1" class="p-sr-only">Firstname</label>
            <input pinputtext="" id="firstname1" type="text" placeholder="Firstname" class="p-inputtext p-component p-element">
        </div>
        <div class="field">
            <label htmlfor="lastname1" class="p-sr-only">Lastname</label>
            <input pinputtext="" id="lastname1" type="text" placeholder="Lastname" class="p-inputtext p-component p-element">
        </div>
        <button pbutton="" label="Submit" class="p-element p-button p-component">
            <span class="p-button-label">Submit</span>
        </button>
    </div>
</div>